<div class="jumbotron">
    <h1>Hi, this is Workoutastic!</h1>
    <p class="lead">Create an account and streamline your workout planning today!</p>
            
    <div style="width:300px; margin: auto;">
                <a href="" class="btn btn-primary btn-lg btn-block btn-oauth email">
                        <img class="btn-oauth-icon" src="<%= asset_path( 'email-24px.png' ) %>"/>
                        <span class="btn-oauth-label">Sign up with email.</span>
                </a>
    </div>

</div>


<div class="row paper">
    <div class="col-lg-4">
      <h2>Create your own exercises and workouts.</h2>
      <img src="<%= asset_path( 'dumbbell.png' ) %>"  class="img-feature" />
    </div>
    <div class="col-lg-4">
      <h2>Plan and review your workout routine.</h2>
      <img src="<%= asset_path( 'plan.png' ) %>"  class="img-feature" />
    </div>
    <div class="col-lg-4">
      <h2>Watch your progress!</h2>
      <img src="<%= asset_path( 'progress.png' ) %>"  class="img-feature" />
    </div>
</div>