/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */


.ember-application {
    /*margin: 20px;*/
}

.nav.affix {
    top: 0;
}

@media (max-width: 720px) {
    .nav.affix {
        position: static;
    }
}

img.image-input {
    max-height: 128px;
    max-width: 128px;
}

.img-feature{
	height: 254px;
	width: 254px;
	display: block;
	margin: auto;
}